aiohttp==3.7.4.post0
aiosignal==1.2.0
async-timeout==3.0.1
attrs==21.2.0
certifi==2023.7.22
chardet==4.0.0
charset-normalizer==2.0.7
commonmark==0.9.1
discord==1.7.3
discord.py==1.7.3
discord.py-message-components==1.7.5.4
frozenlist==1.3.0
idna==3.3
multidict==5.2.0
Pillow==8.4.0
Pygments==2.12.0
PythonTurtle==0.3.2
requests==2.26.0
rich==12.4.4
typing-extensions==3.10.0.2
urllib3==1.26.7
wavelink==1.2.0
yarl==1.7.0
